<!DOCTYPE html>
{% include 'navbar.html' %}


<section style="background: url(/static/hero.jpeg); background-size: cover; background-position: center center" class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <br><br><br><br>
          <h1 style="color: white; text-align: center;">Sapphire CDN </h1><br><br><br><br><br><br><br><br>
        </div>
      
    </div>
  </div></section>
  

{% load static %}
<!-- <img src="http://saugau.edge.vccloud.vn/static/mainpage/images/chad.jpeg" alt="Ảnh này bị lỗi"> -->
<br>
<br>
<br>
{% if domains %}
    <h2>Domain đã khởi tạo</h2>
    {% for domain in domains %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <p>{{ item }}</p>
        <form action="/delete/" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Xoá domain</button>
          <input type="hidden" name="domain" value={{item.name}}>
         </form>
    </div>
    {% empty %}
      <p>No items found.</p>
    {% endfor %}
{% else %}
    <h2>Bạn chưa khởi tạo domain nào. Hãy khởi tạo ngay</h2>
{% endif %}
