<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  {% include 'navbar.html' %}
  <br>
  <br>
  <br>

  <div class="container">
    <form action="/rule/" method="post" id="rule-form">
      {% csrf_token %}
      <h1>Conditions</h1>
      <h2>If</h2>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="condition" name="condition">
          <option value="Path">Path</option>
          <option value="request-method">Request method</option>
          <option value="3">Three</option>
      </select>
      <div id="content">
      </div>
      <br>
      <div class="form-group" id="condition-wrapper" style="display: none;">
        <select class="form-control" id="compare-method">
        </select>
        <br>
        <!-- <input type="text" class="form-control"> -->
      </div>
      <h2>Then</h2>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="action" name="action">
        <option value="ignore-query-string">Ignore query string</option>
        <option value="rewrite-url">Rewrite URL</option>
      </select>
      <div class="form-group" id="action-wrapper" style="display: none;">
        <br>
        <input type="text" class="form-control" placeholder="Source pattern" name="source-pattern">
        <br>
        <input type="text" class="form-control" placeholder="Destination" name="destination">
      </div>
      <br>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">Tạo rule</button>
      </div>
    </form>

  </div>
</body>
</html>

<script>
    const carModels = {
    Path: ['Equal', 'Not Equal'],
    Honda: ['Civic', 'Accord', 'CR-V'],
    Ford: ['Mustang', 'F-150', 'Explorer'],
  };

    const selectBox = document.getElementById("condition")
    const contentDiv = document.getElementById("content")
    const compareMethod = document.getElementById("compare-method")
    const actionBox = document.getElementById("action")
    const ruleForm = document.getElementById("rule-form")
    const conditionWrapper = document.getElementById('condition-wrapper')



    selectBox.addEventListener("change", () => {
        const selectedValue = selectBox.value;
        if (selectedValue === 'Path') {
            // Add a new element to the content div

            conditionWrapper.style.display = "block";
            const models = carModels[selectedValue];
            compareMethod.innerHTML = ""
            models.forEach((model) => {
            compareMethod.innerHTML += `<option value="${model}">${model}</option>`;

            // Tạo input
            var inputPath = document.createElement("input")
            inputPath.setAttribute("class", "form-control")
            conditionWrapper.appendChild(inputPath)
  });
            contentDiv.appendChild(newParagraph);
        } else if (selectedValue === 'request-method') {
            var requestMethodSelect = document.createElement("select")
            requestMethodSelect.setAttribute("class", "form-select")
            var postMethod = document.createElement("option")
            var getMethod = document.createElement("option")
            getMethod.setAttribute("value", "get")
            postMethod.setAttribute("value", "post")
            getMethod.innerText = "GET"
            postMethod.innerText = "POST"
            requestMethodSelect.appendChild(getMethod)
            conditionWrapper.appendChild(requestMethodSelect)

            // Remove the second paragraph from the content div

            const paragraphs = contentDiv.getElementsByTagName('p');
            if (paragraphs.length >= 2) {
            contentDiv.removeChild(paragraphs[1]);
            }
        } else if (selectedValue === '3') {
            // Remove all paragraphs from the content div
            const paragraphs = contentDiv.getElementsByTagName('p');
            while (paragraphs.length > 0) {
            contentDiv.removeChild(paragraphs[0]);
            }
            conditionWrapper.style.display = "none";
        }
    })



    const actionWrapper = document.getElementById("action-wrapper")

    actionBox.addEventListener("change", () => {
      const actionValue = actionBox.value
      if (actionValue === "rewrite-url") {
        actionWrapper.style.display = "block";
      }
      else if (actionValue === "ignore-query-string") {
        actionWrapper.style.display = "none";
      }
    })
</script>