<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
    <br>
    <br>
    <h1>Setting</h1>
    <br>

    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <form action="/setting/" method="post">
        {% csrf_token %}
        <h2>Cache key</h2>
        <br>
        <div class="form-check form-switch">
          <label class="form-check-label" for="toggleSwitch">Cache query string</label>
          <input class="form-check-input" type="checkbox" name="querystring-cache-key">
        </div>
        <br>
        <div class="form-check form-switch">
          <label class="form-check-label" for="toggleSwitch"> Device </label>
          <input class="form-check-input" type="checkbox" name="device-cache-key">
        </div>
        <br>
        <div class="form-check form-switch">
          <label class="form-check-label" for="toggleSwitch"> Cookie cache key </label>
          <input class="form-check-input" type="checkbox" name="cookie-cache-key" id="cookie-cache-key">
        </div>

        <div id="text-box-wrapper">

        </div>
        <br>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
       </form>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script>
      const textBoxWrapper = document.getElementById("text-box-wrapper")
      const cookieCheckBox = document.getElementById("cookie-cache-key")

      // Tạo input box khi check cookie 
      cookieCheckBox.addEventListener("change", () => {
        if (cookieCheckBox.checked) {
          textBoxWrapper.setAttribute("style", "border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;")
          textBoxWrapper.appendChild(document.createElement("br"))
          
          // Cookie name wrapper
          var cookieNameWrapper = document.createElement("div")
          cookieNameWrapper.classList.add("col-md-4")
          textBoxWrapper.appendChild(cookieNameWrapper)

          var cookieNameInput = document.createElement("input")
          cookieNameInput.setAttribute("type", "text")
          cookieNameInput.setAttribute("placeholder", "Tên cookie")
          cookieNameInput.classList.add("form-control")
          cookieNameWrapper.appendChild(cookieNameInput)

          textBoxWrapper.appendChild(document.createElement("br"))

          // Cookie list input
          var cookieValueInputBox = document.createElement("input")
          cookieValueInputBox.setAttribute("type", "text")
          cookieValueInputBox.setAttribute("placeholder", " Danh sách giá trị của cookie. Giá trị này sẽ là 1 phần của cache key")  
          cookieValueInputBox.setAttribute("name", "cookie-value-list")
          cookieValueInputBox.classList.add("form-control")
          textBoxWrapper.appendChild(cookieValueInputBox)

        }
        else {
          textBoxWrapper.innerHTML = ""
        }
      })

    </script>
  </div>
</body>
</html>