<form action="/test/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleSelect">Select Example</label>
    <select class="form-control" id="exampleSelect" name="something">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleText">Text Example</label>
    <input type="text" class="form-control" id="exampleText" name="foo">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>